@import './header';
@import './firstpage';
@import './secondpage';
@import './footer';
@import './hello';

@media screen and (max-width: 600px) {
  .contentshowing {
    display: flex;
    flex-direction: column;
    font-size: 4rem;

    &__transport i {
      color: black;
    }

    &__transport {
      flex-basis: 50vh;
      justify-content: center;
      text-align: center;
      display: flex;
      padding: 10px;
      background-color: #FAEDF7;
      border-radius: 10px;
      margin-bottom: 5%;
      flex-direction: column;

    }
  }

}
